nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#game-container {

    width: 76vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    background-image: url('WHAC-A-MOLE/assets/grassygrass.png');
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#start-cover {
    width: 76vw;
    height: 70vh;
    z-index: 5;
    background-color: skyblue;
    opacity: 75%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game-over {
    width: 76vw;
    height: 70vh;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;

}

#gametextinput {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;

}

.key {
    font-size: 30px;
    width: 200px;
    height: 200px;
    /* border: 2px solid black; */
    text-align: center;
    font-weight: bolder;
    padding: 6px;

}

.row {
    height: 30%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop_up_mole {

    background-image: url('../assets/pop_up_molepng.png');
}

.whacced_mole {
    background-image: url('../assets/whacced_mole.png');
}

.mole_holder {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
}

#lives {
    font-size: 24px;

}

body {
    background-image: url(../assets/sky+grass.png);
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    clear: both;
    position: relative;
}

#instructions {
    font-size: medium;
}

#outgoinglinks{
    position: fixed;
    bottom: 0;
    right: 0;

}
